body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
   monospace;
}
.head{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:calc(12px + 5.5vw);
  margin-top: 3rem;
}
.para{
  font-size: 3vw;

  max-width: 30vw;
  margin-left: 2rem;
  border-radius: 25px;

}
.col2{
  margin-top: 3rem;
}
.button{
  padding: 35px 95px;
  border-radius: 10px;
  border: none;
  font-size: 30px;
  margin-top: 60px;
  
 
}
